@{
    ViewBag.Title = "Spreadsheet Editor Demo (ASP.NET Core)";
    Layout = "~/Views/Shared/_DemoViewLayout.cshtml";
}

@section demoDescription{
    <h1>VintaSoft Spreadsheet Editor Demo (ASP.NET Core)</h1>
}

@section requiredScripts{
    <link rel="localization" href="~/locales/settings.json">

    <link href="@Url.Content("~/lib/Vintasoft/Vintasoft.Imaging.css")" rel="stylesheet" />
    <link href="@Url.Content("~/lib/Vintasoft/Vintasoft.Imaging.Office.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/SpreadsheetEditorDemo.css")" rel="stylesheet" />

    <script src="@Url.Content("~/lib/Vintasoft/Vintasoft.Shared.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/Vintasoft/Vintasoft.Imaging.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/Vintasoft/Vintasoft.Imaging.Dialogs.Bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/Vintasoft/Vintasoft.Imaging.Office.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/Vintasoft/Vintasoft.Imaging.Office.Dialogs.Bootstrap.js")" type="text/javascript"></script>
}

@section demoContent{
    <div id="spreadsheetDocumentEditorControlContainer"></div>

    <script src="@Url.Content("~/js/SpreadsheetEditorDemo.js")" type="text/javascript"></script>
}